body {
  font-size: 14px;
  color: #3e3e3e;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a {
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  vertical-align: middle;
  border-style: none; }

.wrapper {
  margin-top: 40px; }

@media screen and (min-width: 480px) {
  .wrapper {
    background-color: #f5f5f5; } }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
  background: #ffffff; }
  .header .header-lg {
    display: none; }
    .header .header-lg .logo {
      width: 240px;
      background-color: #3aa7f4;
      color: white;
      text-align: center;
      padding: 8px 0;
      font-size: 1.6rem;
      font-style: italic; }
    .header .header-lg .nav-lg {
      width: calc(100% - 48px);
      margin: 8px 15px;
      display: flex; }
      .header .header-lg .nav-lg .social-icons img {
        margin-right: 5px; }
      .header .header-lg .nav-lg .user {
        margin-left: auto;
        display: flex;
        align-items: center; }
        .header .header-lg .nav-lg .user .user-pic {
          margin: 0 5px; }
  .header .header-xs {
    background-color: #3aa7f4;
    display: flex;
    padding: 10px; }
    .header .header-xs .menu-icon {
      color: #ffffff;
      cursor: pointer;
      padding-top: 3px; }
      .header .header-xs .menu-icon.isOpen {
        transform: rotate(90deg); }
    .header .header-xs .logo-xs {
      margin: 0 auto;
      color: #ffffff;
      font-size: 1.2rem;
      font-style: italic;
      padding-top: 2px; }
  .header .nav-xs {
    position: absolute;
    display: none;
    top: 40px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 3px solid #4491ef; }
    .header .nav-xs .navbar-item {
      padding: 15px;
      border-bottom: #bbb 1px solid;
      font-size: .9rem;
      position: relative; }
      .header .nav-xs .navbar-item:after {
        content: "\f178";
        font-family: FontAwesome;
        position: absolute;
        right: 10px;
        top: 15px;
        color: #bbb; }
      .header .nav-xs .navbar-item.profile:after {
        display: none; }
      .header .nav-xs .navbar-item:last-child {
        border-bottom: none; }
      .header .nav-xs .navbar-item a {
        color: #3e3e3e; }
      .header .nav-xs .navbar-item .fa {
        padding-right: 5px; }
      .header .nav-xs .navbar-item .nav-user {
        display: flex;
        align-items: center; }
        .header .nav-xs .navbar-item .nav-user .nav-user-pic img {
          width: 30px;
          margin-right: 5px; }
        .header .nav-xs .navbar-item .nav-user .nav-user-name {
          font-size: 1rem; }

/*media queries */
@media screen and (max-width: 480px) {
  .header .logo-md, .header .logo-lg {
    display: none; } }

@media screen and (min-width: 480px) {
  .header .header-lg {
    display: flex; }
    .header .header-lg .logo-md {
      font-size: 1.4rem;
      display: block;
      width: auto;
      padding: 10px 16px;
      font-weight: bold; }
    .header .header-lg .logo-lg {
      display: none; }
  .header .header-xs {
    display: none; } }

@media screen and (min-width: 769px) {
  .header .header-lg .logo-lg {
    font-size: 1.2rem;
    display: block;
    padding-top: 10px; }
  .header .header-lg .logo-md {
    display: none; }
  .header .header-lg .nav-lg {
    width: calc(100% - 270px); } }

@media screen and (min-width: 992px) {
  .logo-lg {
    font-size: 1.6rem; } }

.sidebar {
  min-height: 100vh;
  background-color: #757575;
  padding: 10px 0;
  display: none; }
  .sidebar .sidebar-item {
    padding: 10px; }
    .sidebar .sidebar-item .sidebar-link {
      color: #ffffff; }
      .sidebar .sidebar-item .sidebar-link .fa {
        text-align: center;
        font-size: 20px;
        display: block; }
      .sidebar .sidebar-item .sidebar-link span {
        margin-left: 10px;
        display: none; }
    .sidebar .sidebar-item.active {
      background-color: #717171;
      border-left: #4491ef 5px solid; }
      .sidebar .sidebar-item.active .sidebar-link {
        color: #ffffff; }
    .sidebar .sidebar-item:hover span {
      margin-left: 20px;
      transition: 0.3s; }

/*media queries */
@media screen and (min-width: 480px) {
  .sidebar {
    display: block;
    position: fixed; }
    .sidebar .settings {
      background-color: #757575;
      display: block;
      position: fixed;
      bottom: 10px; }
      .sidebar .settings a {
        color: #ffffff;
        padding: 10px 0 0 10px;
        display: block; }
        .sidebar .settings a .fa {
          margin-right: 10px;
          font-size: 16px;
          padding: 0 7px; } }

@media screen and (min-width: 769px) {
  .sidebar {
    width: 240px; }
  .sidebar .sidebar-item .sidebar-link .fa {
    text-align: left;
    font-size: 16px;
    display: inline-block; }
  .sidebar .sidebar-item .sidebar-link span {
    display: inline-block; }
  .fa-comments {
    font-size: 18px;
    margin-left: 8px; } }

.content {
  margin: 15px;
  background-color: #ffffff;
  padding: 10px; }
  .content .content-title {
    font-size: 2rem;
    margin: 10px 0 20px 0; }
  .content .article {
    display: flex;
    flex-direction: column; }
    .content .article .article-content {
      margin-right: 5px; }
    .content .article .article-image {
      order: -1; }
      .content .article .article-image img {
        width: 100%;
        height: 75px;
        margin-bottom: 10px; }
    .content .article h4 {
      font-size: 1.4rem;
      padding: 0;
      margin: 10px 0 10px 0; }
    .content .article h5 {
      font-size: 0.8rem;
      padding: 0;
      font-style: italic;
      margin: 0 0 10px 0;
      color: #4491ef; }

/*media queries */
@media screen and (min-width: 480px) {
  .content {
    padding: 20px 20px 60px 20px; }
    .content .content-title {
      margin: 40px 0 20px 20px; }
    .content .article {
      margin: 0 20px;
      padding: 20px;
      border: #ccc 1px solid;
      flex-direction: row; }
      .content .article .article-image {
        margin-left: auto;
        order: 1; }
        .content .article .article-image img {
          width: auto;
          height: auto; }
  .main-area {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    height: 100vh; } }

@media screen and (min-width: 769px) {
  .main-area {
    margin-left: 240px; } }

.footer {
  display: flex;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer .settings {
    display: none; }
  .footer .copyright {
    width: 100%;
    margin: 0 10px; }
  .footer .copyright p {
    text-align: center;
    font-size: 12px; }

/*media queries */
@media screen and (max-width: 480px) {
  .footer .footer-img {
    display: none; } }

@media screen and (min-width: 480px) {
  .footer {
    background-color: #ffffff;
    width: 100%; }
    .footer .copyright {
      display: flex;
      width: calc(100% - 70px); }
      .footer .copyright p {
        text-align: left;
        font-size: 12px; }
      .footer .copyright .footer-img {
        margin-left: auto;
        margin-top: 4px; } }

@media screen and (min-width: 769px) {
  .footer .copyright {
    width: calc(100% - 264px); }
  .footer .settings {
    width: 240px; }
    .footer .settings a .fa {
      padding: 0; }
    .footer .settings span {
      display: inline-block; } }
