// Color Variables
$white: #ffffff;
$white-off: #f5f5f5;
$black: #000000;
$grey-light: #757575;
$grey-medium: #717171;
$grey-dark: #3e3e3e;
$blue-light: #3aa7f4;
$blue-medium: #4491ef;
$blue-dark: #7e8ea2;

//sidebar
$sidebar-width: 240px;

//general
$border-radius: 5px;
$box-shadow: 0 .125rem .9rem rgba($black, .075);
