
.content {
  margin: 15px;
  background-color: $white;
  padding: 10px;
  .content-title {
     font-size: 2rem;
     margin: 10px 0 20px 0;
  }
  .article {
     display: flex;
     flex-direction: column;
     .article-content {
        margin-right: 5px;
     }
     .article-image {
         order: -1;
         img {
            width: 100%;
            height: 75px;
            margin-bottom: 10px;
         }
     }
     h4 {
        font-size: 1.4rem;
        padding: 0;
        margin: 10px 0 10px 0;
     }
     h5 {
         font-size: 0.8rem;
         padding: 0;
         font-style: italic;
         margin: 0 0 10px 0;
         color: $blue-medium;
     }
  }
}

/*media queries */
@media screen and (min-width: 480px) {
  .content {
    padding: 20px 20px 60px 20px;
    .content-title {
        margin: 40px 0 20px 20px;
    }
    .article {
         margin: 0 20px;
         padding: 20px;
         border: #ccc 1px solid;
         flex-direction: row;
         .article-image {
              margin-left: auto;
              order: 1;
              img {
                width: auto;
                height: auto;
              }
          }
     }
  }
  .main-area {
      display: flex;
      flex-direction: column;
      margin-left: 48px;
      height: 100vh;
  }
}
@media screen and (min-width: 769px) {
    .main-area {
        margin-left: 240px;
    }

}


