.footer {
    display: flex;
    background-color: $white-off;
    position: fixed;
    bottom: 0;
    width: 100%;
    .settings {
        display: none;
    }
    .copyright {
        width: 100%;
        margin: 0 10px;
    }
    .copyright p{
        text-align: center;
        font-size: 12px;
    }
}
/*media queries */
@media screen and (max-width: 480px) {
    .footer {
        .footer-img {
            display: none;
        }
    }
}
@media screen and (min-width: 480px) {
  .footer {
     background-color: $white;
     width: 100%;
     .copyright {
        display: flex;
        width: calc(100% - 70px);
        p {
            text-align: left;
            font-size: 12px;
        }
        .footer-img {
            margin-left: auto;
            margin-top: 4px;
        }
     }
  }
}
@media screen and (min-width: 769px) {
    .footer {
        .copyright {
           width: calc(100% - 264px);
        }
        .settings {
            width: $sidebar-width;
            a {
               .fa {
                  padding: 0;
               }
            }
            span {
                display: inline-block;
            }
        }
    }
}