.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    background: $white;
    .header-lg {
        display: none;
        .logo {
                width: 240px;
                background-color: $blue-light;
                color: white;
                text-align: center;
                padding: 8px 0;
                font-size: 1.6rem;
                font-style: italic;
            }
        .nav-lg {
                width: calc(100% - 48px);
                margin: 8px 15px;
                display: flex;
                .social-icons img{
                    margin-right: 5px;
                }
                .user {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    .user-pic {
                        margin: 0 5px;
                    }
                }
            }
    }
    .header-xs {
        background-color: $blue-light;
        display: flex;
        padding: 10px;
        .menu-icon {
            color: $white;
            cursor: pointer;
            padding-top: 3px;
            &.isOpen {
                transform: rotate(90deg);
            }
        }
        .logo-xs {
            margin: 0 auto;
            color: $white;
            font-size: 1.2rem;
            font-style: italic;
            padding-top: 2px;
        }
    }
    .nav-xs {
        position: absolute;
        display: none;
        top: 40px;
        width: 100%;
        background-color: $white;
        border-bottom: 3px solid $blue-medium;
        .navbar-item {
            padding: 15px;
            border-bottom: #bbb 1px solid;
            font-size: .9rem;
            position: relative;
            &:after {
                content: "\f178";
                font-family: FontAwesome;
                position: absolute;
                right: 10px;
                top: 15px;
                color: #bbb;
            }
            &.profile:after {
                display: none;
            }
            &:last-child {
                border-bottom: none;
            }
            a {
                color: $grey-dark;
            }
            .fa {
                padding-right: 5px;
            }
            .nav-user {
                display: flex;
                align-items: center;
                .nav-user-pic img {
                    width: 30px;
                    margin-right: 5px;
                }
                .nav-user-name {
                    font-size: 1rem;
                }
            }
        }
    }
}
/*media queries */
@media screen and (max-width: 480px) {
    .header {
        .logo-md, .logo-lg {
            display: none;
        }
    }
}
@media screen and (min-width: 480px) {
    .header {
        .header-lg {
             display: flex;
             .logo-md {
                 font-size: 1.4rem;
                 display: block;
                 width: auto;
                 padding: 10px 16px;
                 font-weight: bold;
             }
             .logo-lg {
                display: none;
             }
         }
         .header-xs {
            display: none;
         }

    }
}
@media screen and (min-width: 769px) {
    .header {
        .header-lg {
             .logo-lg {
                 font-size: 1.2rem;
                 display: block;
                 padding-top: 10px;
             }
             .logo-md {
                display: none;
             }
             .nav-lg {
                 width: calc(100% - 270px);
             }
         }
    }
}
@media screen and (min-width: 992px) {
    .logo-lg {
        font-size: 1.6rem;
    }
}
