.sidebar {
  min-height: 100vh;
  background-color: $grey-light;
  padding: 10px 0;
  display: none;
  .sidebar-item {
    padding: 10px;
    .sidebar-link {
      color: $white;
      .fa {
        text-align: center;
        font-size: 20px;
        display: block;
      }
      span {
        margin-left: 10px;
        display: none;
      }
    }
    &.active {
      background-color: $grey-medium;
      border-left: $blue-medium 5px solid;
      .sidebar-link {
        color: $white;
      }
    }
    &:hover {
      span {
        margin-left: 20px;
        transition: 0.3s;
      }
    }
  }
}

/*media queries */
@media screen and (min-width: 480px) {
    .sidebar {
        display: block;
        position: fixed;
        .settings {
                background-color: $grey-light;
                display: block;
                position: fixed;
                bottom: 10px;
                a {
                    color: $white;
                    padding: 10px 0 0 10px;
                    display: block;
                    .fa {
                       margin-right: 10px;
                       font-size: 16px;
                       padding: 0 7px;
                    }
                }
             }
    }
}
@media screen and (min-width: 769px) {
    .sidebar {
        width: $sidebar-width;
    }
    .sidebar .sidebar-item .sidebar-link {
      .fa {
        text-align: left;
        font-size: 16px;
        display: inline-block;
      }
      span {
        display: inline-block;
      }
    }
    .fa-comments {
            font-size: 18px;
            margin-left: 8px;
     }
}

