@import '../utilities/_variables';
body {
  font-size: 14px;
  color: $grey-dark;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  outline: none;
  &:hover {
    text-decoration: none;
  }
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
    vertical-align: middle;
    border-style: none;
}
.wrapper {
    margin-top: 40px;
}
@media screen and (min-width: 480px) {
    .wrapper {
      background-color: $white-off;
    }
}